.timeTable{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table{
    border-collapse: collapse;
}

th{
    background: rgb(236, 236, 236);
}

th, td{
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
}

td[rowspan]{
    background: rgb(236, 236, 236);
}

#tdId{
    background: rgb(236, 236, 236);
}

.tdClass{
    background: rgb(236, 236, 236);
}